[submodule "statsd-c-client"]
  path = statsd-c-client
  url = https://github.com/romanbsd/statsd-c-client
[submodule "bandit"]
	path = bandit
	url = https://github.com/banditcpp/bandit
	branch = headers-only
